main {
  overflow: hidden;
}

.main-blog {
  width: 100%;
  background-image: url("../img/blog.bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
}

.blog-page-container {
  padding-top: 200px;
}

.blog-page-content {
  min-height: 975px;
}

.blog-page-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
  background: rgba(255, 255, 255, 0.3);
}

.blog-page-item {
  max-width: 360px;
  min-height: 420px;
  margin-bottom: 20px;
  border: 1px solid rgb(203, 188, 203);
  background: rgba(255, 255, 255, 0.5);
}

.blog-page-btn {
  display: block;
  min-height: 370px;
  margin-bottom: 50px;
}

.blog-page-desc {
  padding: 0 15px;
}

.blog-page-date {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.blog-page__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}

.blog-page__text {
  margin: 0;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.blog-img-4 {
  background-image: url("../img/blog-img-4.webp");
}

.blog-img-5 {
  background-image: url("../img/blog-img-5.webp");
}

.blog-img-6 {
  background-image: url("../img/blog-img-6.webp");
}

.view,
.comment {
  display: inline-block;
  height: 30px;
  width: 30px;
}

.view {
  background-image: url("../img/view.svg");
}

.comment {
  background-image: url("../img/comment.svg");
}

/* like *************************** */
.like-heart {
  opacity: 1;
  fill: #e84a43;
  stroke: none;
}

.blog-page-icons {
  display: flex;
  justify-content: end;
}

.blog-page-icons {
  position: relative;
  padding: 12px 16px;
}

.blog-page-icons::before {
  content: "";
  position: absolute;
  top: -20%;
  left: 10px;
  height: 1px;
  width: 90%;
  background: rgba(0, 0, 0, 0.2);
}

.like path {
  fill: rgba(0, 0, 0, 0);
  stroke: rgb(0, 0, 0);
  stroke-width: 1.5px;
  transition: fill;
}



.blog-page-img {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
  height: 240px;
  border-bottom: 1px solid rgb(239, 239, 239);
}

.blog-page-img-1 {
  background-image: url("../img/gallery-1-img.webp");
}

.blog-page-img-2 {
  background-image: url("../img/gallery-2-img.webp");
}

.blog-page-img-3 {
  background-image: url("../img/gallery-3-img.webp");
}

@media (max-width: 1200px) {}

@media (max-width: 980px) {
  .blog-page-item {
    min-width: 49%;
  }
}

@media (max-width: 768px) {
  .recipes-list {
    display: none;
  }

  .blog-page-list {
    justify-content: center;
  }

  .blog-page-item {
    min-width: 90%;
    min-height: 680px;
  }

  .blog-page-img {
    height: 400px;
  margin-bottom: 30px;
  }

  .blog-page-icons::before {
    top: 240%;
    /* bottom: -140%; */
  }
  .blog-page-icons button {
    position: relative;
    top: 165px;
    right: 40px;
  }


}

@media (max-width: 568px){
  .blog-page-list {
    padding: 0;
  }

  .blog-page-item {
    min-width: 100%;
    min-height: 680px;
  }

  .blog-page-img {
    height: 360px;
  }

}