html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 3000px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.btn-reset {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  background: rgb(203, 188, 203);
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 5px 0px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 40px 20px 0 20px;
}

.nav {
  width: 70%;
}

.nav__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
  line-height: 59px;
  color: rgb(81, 46, 79);
}

.nav-item a:hover {
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(81, 46, 79);
}

.log-btn {
  font-size: 18px;
  color: #000;
  background: transparent;
  border: none;
  outline: none;
}

.log-btn svg {
  position: relative;
  top: 10px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.nav-hero {
  position: relative;
}

.hero-nav {
  position: absolute;
  top: 60px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 464px;
  height: 395px;
  padding-top: 50px;
  background: rgba(255, 255, 255, 0.8);
}

.hero-nav__text,
.hero-nav__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 54px;
}

.hero-nav__text:last-of-type {
  margin-bottom: 40px;
}

.hero-nav__btn,
.blog__btn,
.about__btn {
  display: inline-block;
  padding: 16px 40px;
  border: 1px solid rgb(81, 46, 79);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  transition: 0.3s color ease-in-out, 0.3s background ease-in-out;
}

.hero-nav__btn:hover,
.blog__btn:hover,
.about__btn:hover {
  color: #fff;
  background: rgb(81, 46, 79);
}


/* =============== Hero ============= */
.main-hero {
  padding-top: 500px;
  width: 100%;
  background-image: url("../img/hero_1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed;
}

/* =============== About =============== */
.about {
  background: #fff;
}

.about-block {
  display: flex;
  margin: 0 auto;
  min-height: 655px;
  flex-wrap: wrap;
  max-width: 980px;
  padding: 50px 20px;
  background-color: rgba(203, 188, 203, 0.32);
}

.about-img {
  display: inline-block;
  margin-right: 40px;
  width: 544px;
  height: 544px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

/* .hero1-img:hover {
  
} */

.about-desc {
  max-width: 328px;
  padding-left: 30px;
}

.about__title {
  margin: 0;
  margin-left: -15px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 400;
  color: rgb(81, 46, 79);
}

.about__text {
  margin: 0;
  font-style: 21px;
  font-weight: 400;
  line-height: 34px;
}

.about__text:last-of-type {
  margin-bottom: 20px;
}

.about__btn {
  padding: 16px 56px;
}

/* ============= Blog ============ */
.blog {
  background: #fff;
}

.blog-container {
  max-width: 1794px;
}

.blog-block {
  display: flex;
  max-width: 1794px;
  min-height: 480px;
  background: rgb(228, 220, 228);
}

.blog-img {
  width: 50%;
  height: 480px;
  margin-right: 100px;
  object-fit: cover;
}

.blog-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 20px;
}

.blog__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
}

.blog__text {
  width: 440px;
  margin: 0;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.blog__btn {
  width: 200px;
  text-align: center;
}

/* ================ Gallery =============== */
.gallery {
  background: #fff;
}

.galerry-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 980px;
  min-height: 360px;
  padding: 30px 0;
  list-style: none;
}

.gallery-item {
  width: 32%;
  min-height: 320px;
  background: #fff;
  border: 1px solid rgb(201, 253, 201);
}

.gallery-btn {
  width: 100%;
  cursor: pointer;
  text-align: start;
  padding: 0;
}

.gallery__text {
  width: 70%;
  height: 70px;
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}

.gallery-img {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
  height: 240px;
  border-bottom: 1px solid rgb(239, 239, 239);
}

.gallery-img-1 {
  background-image: url("../img/gallery-1-img.webp");
}

.gallery-img-2 {
  background-image: url("../img/gallery-2-img.webp");
}

.gallery-img-3 {
  background-image: url("../img/gallery-3-img.webp");
}
/* =================== Mine Blog ===================*/
.main {
  overflow: hidden;
}

.main-blog {
  width: 100%;
  height: 100%;
  padding-top: 300px;
  background-image: url("../img/blog.bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom ;
  background-attachment: fixed;
  overflow: hidden;
}

.blog-page-container {
  overflow: hidden;
  padding-top: 260px;
}

.blog-page-content {
  max-width: 1120px;
  min-height: 975px;
  margin: 0 auto;
  padding-top: 60px;
  background: rgb(203, 188, 203);
  overflow: hidden;
}

.blog-page-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background: #fff;
}

.blog-page-item {
  max-width: 360px;
  margin-bottom: 20px;
  min-height: 420px;
  border: 1px solid rgb(203, 188, 203);
}

.blog-page-btn {
  height: 370px;
  margin-bottom: 50px;
}

.blog-page-desc {
  padding: 0 15px;
}

.blog-page-date,
.article__date {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.blog-page__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}

.blog-page__text {
  margin: 0;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.blog-img-4 {
  background-image: url("../img/blog-img-4.webp");
}

.blog-img-5 {
  background-image: url("../img/blog-img-5.webp");
}

.blog-img-6 {
  background-image: url("../img/blog-img-6.webp");
}

.view,
.comment {
  display: inline-block;
  height: 30px;
  width: 30px;
}

.view {
  background-image: url("../img/view.svg");
}

.comment {
  background-image: url("../img/comment.svg");
}

/* like *************************** */
.like-heart {
  opacity: 1;
  fill: #e84a43;
  stroke: none;
}

.blog-page-icons {
  display: flex;
  justify-content: end;
}

.blog-page-icons {
  position: relative;
  padding: 12px 16px;
}

.blog-page-icons::before {
  content: "";
  position: absolute;
  top: -20%;
  left: 10px;
  height: 1px;
  width: 90%;
  background: rgba(0, 0, 0, 0.2);
}

.like path {
  fill: rgba(0, 0, 0, 0);
  stroke: rgb(0, 0, 0);
  stroke-width: 1.5px;
  transition: fill;
}

/* ================ Recipes ============== */
.blog-page-section {
  margin-bottom: 100px;
}

.recipes {
  padding: 20px;
}
.recipes-list {
  display: flex;
  justify-content: center;
}

.recipes-btn {
  font-size: 18px;
  color:  rgb(81, 46, 79);;
}

.recipes-items:not(:last-child) {
  margin-right: 14px;
}

/* ====================== Nutrition ===================== */

.nutrition-hero {
  margin-bottom: 40px;
  padding: 30px;
  padding-top: 120px;
}

.main-nutrition {
  width: 100%;
  background-image: url("../img/blog.bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 100%;
  background-attachment: fixed;
}

.nutrition-container {
  max-width: 980px;
  overflow: hidden;
}

.nutrition-bg {
  min-height: 352px;
  background-image: url("../img/snndakarg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nutrition-content {
  min-height: 1500px;
}

.nutrition-title {
  margin: 0;
  padding: 34px 46px;
  text-align: center;
  font-size: 56px;
  font-weight: 400;
  color: rgb(81, 46, 79);
  background: #fff;
}

.nutrition-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nutrition-item {
  max-width: 48%;
  min-height: 400px;
  margin-bottom: 30px;
  padding: 48px;
  background: #fff;
}

.nutrition-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
}

.nutrition__subtitle {
  margin: 0;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.nutrition__text {
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.nutrition__img {
  display: inline-block;
  width: 358px;
  height: 212px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.nutrition__img1 {
  background-image: url("../img/diet-1.webp");
}

.nutrition__img2 {
  background-image: url("../img/diet-2..webp");
}

.nutrition__img3 {
  background-image: url("../img/diet-3.webp");
}

.nutrition__img4 {
  background-image: url("../img/diet-1.webp");
}

.nutrition__img5 {
  background-image: url("../img/diet-5.webp");
}

.nutrition__img6 {
  background-image: url("../img/diet-6.webp");
}
/* ============ Footer ============ */
.footer {
  width: 100%;
  min-height: 100px;
  background: rgb(203, 188, 203);
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 5px 0px;
}

/* ============================ Category =================== */
.main-category {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/blog.bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.category-container {
  width: 1120px;
  padding-top: 200px;
}

.category__title {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  font-size: 60px;
  color: rgb(81, 46, 79);
}

.category-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-nav-list {
  /* background: rgb(203, 188, 203); */
  width: 32%;
  border-top: none;
}

.category-nav-item {
  padding: 30px;
  color: rgb(81, 46, 79);
  /* background: rgba(203, 188, 203, 0.9); */
  background: rgba(204, 178, 204, 0.74);
  transition: 0.3s background ease-in-out;
}

.category-nav-link {
  width: 100%;
  display: inline-block;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
}

.category-nav-item:not(:last-child) {
  margin-bottom: 20px;
}

.category-nav-item:hover {
  background: rgba(232, 230, 230, 0.75);
}

/* ======================== Articles ======================== */
.avocado-window {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  visibility: hidden;
}

.avocado {
  position: fixed;
  top: 20%;
  left: 20%;
  z-index: 1001;
  width: 888px;
  min-height: 426px;
  background: rgb(203, 188, 203);
}

.avocado-window--active {
  visibility: visible;
}

.recipes-btn {
  cursor: pointer;
}

.recipes-btn:hover {
  color: #fff;
  opacity: 0.6;
}

.blog-page--inactive {
  visibility: hidden;
}

.avocado__recipe {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #fff;
}

.avocado-article-img {
  width: 408px;
  height: 306px;
}

.avocado-content {
  width: 48%;
  padding: 20px;
}

.article__date {
  display: block;
}

.scientes__link {
  display: inline-block;
  margin-bottom: 20px;
  padding: 12px 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #fff;
  background: rgb(121, 69, 119);
}

.scientes__link:hover {
  opacity: 0.8;
}

.avocado-subtitle {
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 400;
  line-height: 35px;
}

.avpcado-desc {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 20px;
  stroke: #fff;
  cursor: pointer;
}

.close-btn:hover {
  stroke: #000000;
}

/*  ========================= Aboutme ==================== */
.aboutme-container {
  max-width: 1400px;
  padding: 40px;
  padding-top: 140px;
}

.main-about {
  width: 100%;
  background: rgba(148, 132, 161, 0.67);
}

.aboutme-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  background: rgb(219, 219, 219);
}

.my-pic {
  width: 55%;
  margin-right: 80px;
  padding: 40px;
  background-color: rgb(148, 132, 161);
  text-align: center;
}

.my-pic img {
  width: 450px;
  height: 600px;
}

.aboutme-content {
  width: 45%;
  padding-left: 60px;
}

.aboutme__title {
  margin: 0;
  margin-bottom: 30px;
}

.aboutme__text {
  margin: 0;
  width: 60%;
}

.aboutme__text:first-of-type {
  margin-bottom: 20px;
}

.aboutme-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-image: url("../img/aboutme.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutme-nav,
.header-social,
.aboutme-social {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px 40px;
}

.aboutme-nav-item,
.header-social-item,
.aboutme-social-item {
  padding: 2px 3px;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
}

.aboutme-nav-item:not(:last-child),
.aboutme-social-item:not(:last-child),
.header-social-item:not(:last-child) {
  margin-right: 20px;
}

.header-social-item svg g {
  fill: rgb(81, 46, 79);
}

.header-social-item svg path,
.header-social-item svg circle {
  stroke: rgb(81, 46, 79);
}

.header-social-item:hover {
  box-shadow: 0 .5px .5px 1px rgba(0,0,0,0.7);
}

/* ======================  Search block ============================ */
.seach-form {
  display: flex;
  justify-content: start;
  align-items: end;
  padding: 40px 0;
  margin-bottom: 20px;
}

.input {
  display: inline-block;
  padding: 20px;
  margin-right: 10px;
  min-width: 300px;
  font-size: 22px;
  color: rgb(81, 46, 79);
  background:rgb(203, 188, 203);;
  border-radius: 20px;
  border: none;
  outline: none;
}

.input::placeholder {
  color: rgb(81, 46, 79);
}

.search-btn path {
  stroke: rgb(81, 46, 79);
}

.hide {
display: none;
}
